* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  width: 350px;
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  width: 350px;
}

div li button {
  margin: 0;
  background: #ca4949;
  width: 100px;
}

a, a:hover, a:active, a:link, a:visited {
  color: #000;
  font-weight: bold;
  display: contents;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

